*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.card{
    width: 400px;
    height: 600px;
    max-width: 400px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 25px;
    text-align: center;

}
.search{
    width: 100%;
    display: FLEX;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background-color: aliceblue;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    width: 30%;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 30px;

}
.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
}
.search button img{
    width: 30px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    padding: 0 20px;
    position: relative;
    gap: 20px;
    font-size: 40;
    /* -ms-flex-align: 23 */
    margin-top: 50px;
    /* background-color: lightcoral; */
    /* height: 150px; */
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    /* height: 100px; */
    /* background-color: lightgreen; */
}
.col img{
    width: 40px;
    margin-right: 10px;
    height: 40px;
    /* background-color: lightskyblue; */
    /* font-size: 100px;
    font-weight: 50px;
 */
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.search img{
    font-size: 70px;

}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}


   
